@import './base.css';
@import './style.css';

#app {
  max-width: 1440px;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    font-size: 16px;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem;
    margin: 0 auto;
  }
}
